
.bath-tub-container {
  width: 115px;
  height: 400px;
  border: solid white 1px;
  transition: height 2s ease-in-out ;
  transform: rotatex(180deg);
}

.level-counter {
  position: relative;
  left: -65px;
  top: 10px;
}